/* styles.css */

.language-select {
  margin: 16px 0 16px 0;
}

.language-select__list {
  margin-top: 1em;
  text-align: right;
}

.language-select__list-item {
  display: inline-block;
}

.language-select__list-item:first-child::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.1875em;
  height: 1em;
  border-right: 0.09375em solid black;
}

.language-select__list-item a,
.language-select__list-item [aria-current] {
  padding: 0.3125em;
}

@media screen and (max-width: 641px) {
  .language-select__list {
    float: none;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #b1b4b6;
  }
}
