@media (max-width: 256px) {

  .govuk-footer__crown{
    max-width: 100%;
    max-height: auto;
  }
}

.govuk-footer{
    padding-top: 25px;
    padding-bottom: 15px;
    border-top: 1px solid #b1b4b6;
    color: #0b0c0c;
    background: #f3f2f1;
}

.govuk-template--rebranded .govuk-footer {
    border-top: 10px solid #1d70b8;
    background: #f4f8fb;
}

.govuk-footer__copyright-logo::before {
  background: rgb(110,119,122,255);
}

.govuk-template--rebranded .govuk-footer__copyright-logo::before{
  background: currentcolor
}
