name: Update Visual Regression Tests
on:
  workflow_dispatch:
    inputs:
      target:
        description: "Update Visual Snapshots"

permissions:
  contents: write

jobs:
  visual-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup-node
        with:
          token: ${{ secrets.GH_PACKAGES_TOKEN }}

      - name: Install Playwright browsers in frontend-ui
        run: npx playwright install --with-deps

      - name: Building the application
        run: npm run build

      - name: Start the Alpha-app for testing in the background
        run: npm run start &
        working-directory: packages/alpha-app

      - name: Wait for Alpha-app to be ready
        run: npx wait-on http://localhost:3000

      - name: Update the visual snapshots
        run: npm run test:visual:update
        working-directory: packages/frontend-ui

      - name: Commit and push updated visual snapshots
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git fetch origin ${{ github.head_ref }}
          git checkout ${{ github.head_ref }}
          git add -A
          git commit -m "chore: update visual snapshots " --no-verify || echo "No changes to commit"
          git push origin ${{ github.head_ref }} || exit 1
